*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	font-size: 1.2rem;
}

body {
	/* font-family: 'Cormorant', serif; */
	/* font-family: 'Cormorant SC', serif; */
	font-family: "Oswald", sans-serif;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
